.main{
    padding:10px;

    &__subtitle {
        text-align:center;
        margin:25px;
        font-size:1.8rem;
    }
}
.section{    
    &__beneficios{
        display:flex;
        flex-direction: row;
        margin-bottom:20px;   

        &__texto{
            width:70%;
            margin:15px;
        }

        & img {
            width:30%;
            max-width: 100px;
            margin-right:15px;
        }

        & h4{ 
            margin-bottom: 10px;

        }

    }        
}



/*
.contenedor{
    padding:10px;
}

.contenedor h2{
    text-align:center;
    margin:25px;
    font-size:1.8rem;
}

.caja-beneficios{
    display:flex;
    flex-direction: row;
    margin-bottom:20px;   
}

.caja-beneficios-texto {
    width:70%;
    margin:15px;
}

.caja-beneficios img{
    width:30%;
    max-width: 100px;
    margin-right:15px;
}

.caja-beneficios-texto h4 {
   ©
}
*/